* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: none;
}

@media screen and (max-width: 500px) {
  .liste {
    flex-direction: column;
    height: 200px;
  }

  .items {
    height: 50px;
    border-top: 1px solid #fff;
    margin-top: 20px;
    font-size: 30px;
    width: 100%;
    border-bottom: 1px solid #fff;
    line-height: 50px;
  }
  .btn {
    display: block;
    position: absolute;
    right: 15px;
    top: 43px;
    color: white;
    cursor: pointer;
  }
}
